In [4]:
from datetime import timedelta
import time
import platform
import pandas as pd
from prettytable import PrettyTable

In [20]:
time.strftime("%H:%M:%S", time.gmtime(timedelta(seconds=60).total_seconds()))

'00:01:00'

In [3]:
platform.system().lower()

'windows'

In [1]:
data = [
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
    {'name':'thierry', 'age':12, 'school':'EMIT'},
]

In [24]:
df = pd.DataFrame(data)
df.head()

      name  age school
0  thierry   12   EMIT
1  thierry   12   EMIT
2  thierry   12   EMIT
3  thierry   12   EMIT
4  thierry   12   EMIT

In [28]:
show_datatable(df, ['name', 'school'])